a.title {
    margin-left: 400px;
    padding-top:30px;
}

.btn {
    position: relative;
    display: inline-block;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 2px solid #045050;
    background-color: #001B15;
  }

.Img { 
    width: 400px; 
    height: 400px; 
}

.repos {
    border: 3px solid #045045;
    padding: 20px;
    width: 350px;
    font-size: 16px;
    font-family: Arial;
    color: #0DBA0D;
    border-spacing: 15px 15px;
    margin-top: 20px;
    margin-left: 50px;
}

.lang {
    font-size: 19px;
    color: #005600;
    font-weight: lighter;
    padding-left: 7px;
}

.repoNames {
    padding-top: 15px;
    padding-left: 7px;
}

.follow {
    font-family: Arial;
}

.location, .name {
    font-size: 28px;
    color: #BAA80A;
    font-weight: bold;
}

.login {
    font-size: 22px; 
    line-height: 1.25; 
    color: #B45045;
}

.language {
    font-size: 25px;
    color: black;
    font-weight: lighter;
}

.lay {
   padding-top: 20px;
   padding-left: 50px;
}

.mainTable td {
    border-width: 2px;
    width: 500px;
    font-size: 24px;
}

.description {
    font-size: 10px;
} 

.rep {
    margin-left: 50px;
}
