* {
    font-family: Arial, sans-serif;
}

.bg {
    position: absolute;
    min-width: 100%;
    z-index: -100;
}

.bg-top {
    background-color: #673AB7;
    top: 0;
    height: 25%;
}

.bg-bottom {
    background-color: #EDE7F6;
    top: 25%;
    height: 75%;
}

.container {
    padding: 0;
    margin: 0 auto;
    background-color: white;
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

form {
    padding: 40px;
}

form > * {
    margin: 10px 0;
    padding: 15px 0;
}


.form-footer {
    width: 100%;
    height: 10px;
    background-color: #B388FF;
}

.form-container {
    margin-top: 12.5%;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.footer {
    text-align: center;
}

.regular{
    font-weight: normal;
}

.text-quiet {
    color: gray;
}

.red-star {
    display: inline;
    font-size: inherit;
    color: red;
}

html, body {
    position: absolute;
    margin: auto;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0;
}

option, select, label, input {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 10px;
}
